.ubicacion {
  h1, p {
    text-align: center;
  }
}

/* Estilos para el mapa en computadoras */
#map{
  justify-content: center;
  display: flex;
  width: 100%;
  height: 350px;
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
  #map {
    height: 400px;
  }
}
